.App {
  text-align: center;
  height: 100vh;
  color: white;
}

.work-state {
  background-color: #d64545;
}

.break-state {
  background-color: #14919b;
}

.neutral-state {
  background-color: #3e4c59;
}
